body{
    display: flex;
    justify-content: center;
}
.formulario_de_venda {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 30%;
  }
  
  .formulario_de_venda h1 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #333;
  }
  
  .formulario_de_venda div {
    margin-bottom: 15px;
  }
  
  .formulario_de_venda label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .formulario_de_venda input[type="text"],
  .formulario_de_venda input[type="tel"],
  .formulario_de_venda select,
  .formulario_de_venda input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .formulario_de_venda button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
    margin-bottom: 5px;
  }
  
  .formulario_de_venda button:hover {
    background-color: #0056b3;
  }

  .leitura {
    display: inline-block;
    vertical-align: top;
    width: 60%; /* Ajusta a largura */
    margin-left: 20px;
    padding: 15px; /* Aumenta o preenchimento para espaçamento interno */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.leitura h2 {
    font-size: 20px;
    color: #333;
    margin-top: 0;
}

.leitura table {
    width: 100%;
    text-align: center;
}

.leitura table th,
.leitura table td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.leitura table th {
    background-color: #007bff;
    color: #fff;
}